.title{
  font-size: 50px;
  color: #440066;
  text-align: center;
}
h1 {
  font-family:inherit;
  font-size: 20px;
}
.Subtitle {
  font-size: 30px;
  text-align: center;
  color: #800060;
  font-weight: bold;
}
.Preferences{
  font-size: 22px;
  font-weight: bold;
}
body{
  background-color: #e6fff2;
}
 div ul {
   top: 0;
   width:100%;
 }
div ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #800060;
 }
div li {
       float: left;
       }
div li a {
     display: block;
     color: White;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     }

div li a:hover {
     background-color: black;
     }
