h1{
  font-size: 50px;

}
h2 {
  font-family:inherit;
  font-size: 20px;
}
p {
 color: #440066;
}
.secondP {
  color:#ff4d94;
}
#firstp{
  color:#1ad1ff;
}
body{
  background-color: #e6fff2;
}
 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #800060;
 }
button {
  background-color: #800060; 
}
   button {
       float: left;
       }
   button   a {
     display: block;
     color: White;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     }

   button a:hover {
     background-color: black;
     }
